/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
//quote icon

.quote-icon-left,
.quote-icon-right {
    font-size: 100px;
    color: #00cc00;
    border: solid purple;
    text-align: center;
}