/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
body {
    background-color: #222222;
}

.qod-logo {
    text-align: center;

    border: solid red;

    img {
        height: 200px;
        width: 50%;
    }

}

.post {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border: solid salmon;

}

.site-main {
    position: relative;
    border: pink solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .quote-icon-left {

        grid-column: 1;
        grid-row: 1;

    }

    .post {

        grid-column: 2;
        grid-row: 1;
    }

    .quote-icon-right {
        grid-column: 3;
        grid-row: 1;

    }

    .new-quote-button {
        grid-column-start: 1;
        grid-column-end: 4;

    }

}