/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */



body {
    background-color: #222222;
}



//home-page
//mobile

.qod-logo {
    text-align: left;
    border: solid red;

    img {
        padding-left: 10px;
        height: auto;
        width: 300px;
    }
}

.post {

    color: #ffffff;
    font-size: 16px;
    border: solid salmon;
    text-align: left;
    padding: 20px;
}

.new-quote-button {
    border: solid red;
    display: block;
}

.quote-icon-left,
.quote-icon-right {
    display: none;
}

.site-info {
    border: solid blue;
    flex-wrap: wrap;
    display: flex;
    color: white;
    font-family: Exo Web, sans-serif;

    a {
        text-decoration: none;
        color: #0c0;
    }

    .menu ul {
        border: solid green;
        text-align: center;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        padding-left: 20px;
        padding-right: 20px;
        list-style: none;
        border-right: solid white;
        display: flex;
    }

    .footer {
        height: auto;
        padding: 20px;
        border: solid pink;

    }

}

@media all and (min-width: 600px) {}

.qod-logo {

    text-align: left;

    img {
        width: 60%;
        height: auto;
        border: solid greenyellow;
    }
}

@media all and (min-width: 1080px) {
    .post {
        width: 55%;
        font-size: 29px;
        position: relative;
        left: 300px;
        text-align: center;

    }

    .quote-icon-left,
    .quote-icon-right {
        display: block;
        border: solid goldenrod;
        width: 15%
    }

    .quote-icon-left {
        position: absolute;
        left: 30px;
        text-align: right;
    }


    .quote-icon-right {
        position: absolute;
        right: 30px;
    }


    .qod-logo {
        text-align: center;
    }

    .site-info {
        flex-wrap: wrap;
        display: flex;
        color: white;
        font-family: Exo Web, sans-serif;
        justify-content: flex-end;
    }

    .new-quote-button {
        border: solid red;
        display: block;
        justify-content: center;
        display: flex;

    }

}

.page {

    //about
    .entry-title,
    .entry-content {
        color: white;
        border: solid blue;
    }

    .site-main {
        border: red solid;
        display: flex;
        margin-top: 20px;
    }


    @media all and (min-width: 1080px) {

        .entry-title {
            display: block;
            position: relative;
            width: 40%;
            left: 280px;
        }

        .entry-content {
            display: block;
            position: relative;
            width: 58%;
            left: 280px;
        }

        .quote-icon-left,
        .quote-icon-right {
            display: block;
            border: solid goldenrod;
            width: 15%
        }

        .quote-icon-left {
            position: absolute;
            left: 0px;
            text-align: right;
        }


        .quote-icon-right {
            position: absolute;
            right: 0px;
        }


    }


}


//archive page
.page-template-default {

    .entry-title {
        font-family: Exo Web, sans-serif;
        padding-left: 2px;
    }

    .post-archives,
    .category-artchives,
    .tag-archives {

        ul {
            border: solid #0c0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-left: 0px;
            padding-left: 1px;

            li a {
                text-decoration: none;
                color: #0c0;
                padding: 5px;
            }
        }

        h2 {
            color: white;
            font-family: Exo Web, sans-serif;
            padding: 10px;
            border: solid blue;
            padding-left: 2px;
        }
    }

    @media all and (min-width: 1080px) {
        .entry-title {
            font-size: 32px;
            text-align: left;
            margin: 0px;
            position: relative;
            left: 260px;

        }

        .post-archives,
        .category-artchives,
        .tag-archives {
            width: 60%;

            h2 {
                color: white;
                font-family: Exo Web, sans-serif;
                padding: 10px;
                border: solid blue;
                position: relative;
                left: 260px;
                margin-top: 0px;
            }

            ul {
                position: relative;
                left: 260px;
            }
        }

    }

}


//submit 

.quote-submission-wrapper {
    margin-bottom: 50px;
    color: white;

    .entry-header {
        .entry-title-submit {

            h1 {
                border: solid green;
            }
        }
    }

    .quote-author {

        input {
            margin: 5px;
            border: 1px solid #0c0;
            background-color: #222222;
            display: flex;
        }

        label {
            padding: 5px;
        }
    }

    .quote-content {

        label {
            padding: 5px;
        }

        textarea {
            padding-left: 3px;
            width: 90%;
            height: 100px;
            margin: 5px;
            border: 1px solid #0c0;
            background-color: #222222;
        }
    }

    .quote-source,
    .quote-source-url {

        input {
            background-color: #222222;
            border: 1px solid #0c0;
            display: flex;
            margin-left: 5px;
            margin-bottom: 10px;
        }

    }

    .submit-quote {

        input {
            color: #0c0;
            background-color: #222222;
            box-shadow: none;
            text-shadow: none;
            border: 1px solid #0c0;
            padding: 10px 40px;
            margin-left: 5px;
            font-family: Exo Web, sans-serif;
            font-size: 1em;
        }
    }

    @media all and (min-width: 600px) {

        .quote-content {
            textarea {
                padding-left: 3px;
                width: 150%;
                height: 100px;
                margin: 5px;
            }
        }

    }

    @media all and (min-width: 1040px) {

        h1.entry-title-submit {
            border: solid green;

        }



    }
}